@font-face {
    font-family: Gilroy;
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
    
body {
    margin: 0;
    padding: 0;
    
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
        
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

.button,
.button-write-us,
.filter-button {
    font: inherit;
    letter-spacing: 0.2em;
    
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    
    border: none;
}

.button:hover,
.button-write-us:hover,
.filter-button:hover,
.button:focus,
.button-write-us:focus, 
.filter-button:focus {
    background-color: #f0c52e;
}

.button:active {
    background-color: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #f7e296;
}

.main-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

a.main-header-logo:hover img,
a.main-footer-logo:hover img {
    opacity: 0.6;
}

a.main-header-logo:active img,
a.main-footer-logo:active img {
    opacity: 0.3;
}

.user-navigation,
.header-sale-menu,
.footer-sale-menu {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    
    list-style: none;
}

.catalog,
.delivery,
.guarantee,
.contacts {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    
    list-style: none;
}

.catalog .catalog-item1,
.catalog .catalog-item2,
.catalog .catalog-item3 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
    
    list-style: none;
}

.promo h2 {
    font-size: 47px;
    line-height: 56px;
}

.promo p,
.services-descriptions p,
.about-us p,
.our-contacts p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.options th {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
}

.options td {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #464646;
}

.popular-list,
.services-list,
.services-descriptions {
    list-style: none; 
}

.services {
    background-color: #e5e5e5;
}

.services-descriptions h3,
.about-us h3,
.our-contacts h3 {
    font-size: 47px;
    line-height: 48px;
}

.services-item a {
    color: #000000;
}

.services-item a:hover {
    color: #000000;
    background-color: #f0c52e;
}

.services-item a:active {
    color: #f7e184;
    background-color: #000000;
}

.company-list {
    font-size: 16px;
    line-height: 40px;
    
    list-style: none;
}

.main-footer {
    background-color: #464646;
    color: #ffffff;
}

.main-footer li,
.main-footer a, 
.main-footer p {
    color: #ffffff;
}


.footer-menu {
    text-transform: uppercase;
}

.main-footer a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.main-footer a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-login-link a,
.footer-sale-menu a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-login-link a:hover,
.footer-sale-menu a:hover {
    color: #ffffff;
}

.footer-login-link a:active,
.footer-sale-menu a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-phone,
.footer-address {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.footer-menu,
.footer-social {
    text-align: center;
}

.footer-menu,
.footer-social ul { 
    list-style: none;
}

.main-monopods {
    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 300; 
}

.breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.01);
}

.catalog-monopods h2,
.filters h2,
.pagination-list {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.filters,
.sorting {
    background-color: rgba(0, 0, 0, 0.08);
}

.filters fieldset {
    border: none;
}

.filter {
    background-color: #efefef;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #a6a6a6;
} 

.sorting-list {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    
    list-style: none;
}

.up-down,
.catalog-list {
    list-style: none;
}

.up-down a {
    color: rgba(0, 0, 0, 0.2);
}

.up-down a:hover {
    color: rgba(0, 0, 0, 0.4);
}

up-down a:active {
    color: #000000;
}

.down-current a {
    color: #000000;
}

.sorting-list {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.sorting-item a {
    color: rgba(0, 0, 0, 0.3);
}

.sorting-item a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-item a:active {
    color: #000000;
}

.catalog-monopods span {
    font-size: 14px;
    text-transform: uppercase;
}

.filter-colour,
.bluetooth {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    
    list-style: none;
}

.catalog-item-price {
    font-size: 16px;
    color: #464646;
    font-weight: 300;
}
    
.catalog-item .button-compare {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 50px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

.pagination-list {
    list-style: none;
    background-color: #ebebeb;
    
    font-size: 16px;
    letter-spacing: 0.2em;
}

.back a,
.forward a {
    color: #000000;
}

.back a:hover,
.forward a:hover {
    color: #000000;
    background-color: #d9d9d9;
}

.back a:active,
.forward a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d9d9d9;
}

.pagination-item a {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
    color: #000000;
}

.pagination-item-current {
    color: #000000;
}